body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(104, 123, 207);
}
.prueba{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: aqua;
}